<form
  class="form-horizontal ng-pristine ng-valid"
  [formGroup]="form"
  (submit)="handleSubmit($event)"
  autocomplete="off"
>
  <div class="p-3" style="border: 2px solid #f7f7f9;">
    <div class="form-group row">
      <label for="title" class="col-sm-2 col-form-label">
        {{ "Title" | i18nextFormat }}
      </label>
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          id="title"
          formControlName="title"
          autocomplete="off"
        />
        <div
          class="text-danger"
          *ngIf="
            form.controls['title'].hasError('required') &&
            (form.controls['title'].dirty || form.controls['title'].touched)
          "
        >
          {{ "This field is required" | i18nextFormat }}
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="author" class="col-sm-2 col-form-label">
        {{ "Author" | i18nextFormat }}
      </label>
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          id="author"
          formControlName="author"
          autocomplete="off"
        />
        <div
          class="text-danger"
          *ngIf="
            form.controls['author'].hasError('required') &&
            (form.controls['author'].dirty || form.controls['author'].touched)
          "
        >
          {{ "This field is required" | i18nextFormat }}
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="post" class="col-sm-2 col-form-label">
        {{ "Post" | i18nextFormat }}</label
      >
      <div class="col-sm-10">
        <quill-editor
          [spellcheck]="true"
          [(ngModel)]="post"
          [ngModelOptions]="{ standalone: true }"
        ></quill-editor>
        <div
          class="text-danger"
          *ngIf="
            form.controls['post'].hasError('required') &&
            (form.controls['post'].dirty || form.controls['post'].touched)
          "
        >
          {{ "This field is required" | i18nextFormat }}
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="price" class="col-sm-2 col-form-label">
        {{ "Price" | i18nextFormat }}
      </label>
      <div class="col-sm-10">
        <input
          type="number"
          class="form-control"
          id="price"
          formControlName="price"
          autocomplete="off"
        />
        <div
          class="text-danger"
          *ngIf="
            form.controls['price'].hasError('required') &&
            (form.controls['price'].dirty || form.controls['price'].touched)
          "
        >
          {{ "This field is required" | i18nextFormat }}
          required
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="priority" class="col-sm-2 col-form-label">
        {{ "Priority" | i18nextFormat }}
      </label>
      <div class="col-sm-10">
        <input
          type="number"
          class="form-control"
          id="priority"
          formControlName="priority"
          autocomplete="off"
        />
      </div>
    </div>

    <div class="form-group row">
      <label for="no" class="col-sm-2 col-form-label">
        {{ "Nr" | i18nextFormat }}
      </label>
      <div class="col-sm-10">
        <input
          type="number"
          class="form-control"
          id="no"
          formControlName="no"
          autocomplete="off"
        />
      </div>
    </div>

    <div class="form-group row">
      <label for="availability" class="col-sm-2 col-form-label">
        {{ "Availability" | i18nextFormat }}
      </label>
      <div class="col-sm-10">
        <select
          class="form-control"
          id="availability"
          formControlName="availability"
        >
          <option value="{{ true }}"> {{ "True" | i18nextFormat }}</option>
          <option value="{{ false }}"> {{ "False" | i18nextFormat }}</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label for="image" class="col-sm-2 col-form-label">
        {{ "Image" | i18nextFormat }}
      </label>
      <div class="col-sm-10">
        <button
          type="button"
          class="btn btn-primary btn-sm"
          (click)="showImageSelectModal(imageTemplate)"
        >
          {{ "Select Image" | i18nextFormat }}
        </button>
        <div>
          <table class="table w-100">
            <tbody>
              <tr *ngFor="let img of image">
                <div class="image">
                  <cl-image [public-id]="img">
                    <cl-transformation
                      height="170"
                      crop="scale"
                    ></cl-transformation>
                  </cl-image>
                </div>
                <td class="text-right">
                  <button
                    class="btn btn-danger"
                    (click)="deleteImage(img)"
                    title="Delete"
                  >
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
              <tr *ngIf="!image.length">
                <td colspan="5" class="text-center my-5">
                  {{ "No Images Found" | i18nextFormat }}
                </td>
              </tr>
            </tbody>
          </table>
          <!--<img-->
          <!--[hidden]="!image.url"-->
          <!--[src]="image"-->
          <!--alt="portfolio"-->
          <!--style="max-width: 100%; max-height: 250px;"-->
          <!--/>-->
        </div>
      </div>
    </div>
  </div>

  <div class="form-group mt-3">
    <button *ngIf="isCreate" class="btn btn-primary">
      {{ "Create" | i18nextFormat }}
    </button>
    <button *ngIf="!isCreate" class="btn btn-success">
      {{ "Update" | i18nextFormat }}
    </button>
    <a [routerLink]="['../']" class="btn btn-default ml-3">
      {{ "Cancel" | i18nextFormat }}
    </a>
  </div>
</form>

<ng-template #imageTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">
      {{ "Select Image" | i18nextFormat }}
    </h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div style="min-height: 50vh">
      <table class="table w-100">
        <!-- <thead>
                    <tr>
                        <th>{{ 'Image' | i18nextFormat }}</th>
                        <th>{{ 'Url' | i18nextFormat }}</th>
                        <th width="200"></th>
                    </tr>
                </thead> -->
        <tbody>
          <tr *ngFor="let image of images">
            <div class="image" style="max-width: 100%">
              <cl-image loading="lazy" public-id="{{ image.public_id }}">
                <cl-placeholder type="blur"></cl-placeholder>
                <cl-transformation
                  height="170"
                  width="128"
                  crop="lfill"
                ></cl-transformation>
              </cl-image>
            </div>
            <!-- <td>
                            {{getImageUrl(image.weblinkUrl)}}
                        </td> -->
            <td class="text-right">
              <button
                class="btn btn-primary"
                (click)="selectImage(image, $event)"
                title="Select"
              >
                Select
                <!-- <i class="fa fa-trash"></i> -->
              </button>
            </td>
          </tr>
          <tr *ngIf="!images.length">
            <td colspan="5" class="text-center my-5">
              {{ "No Images Found" | i18nextFormat }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-template>
