<div class="container" *ngIf="validUrl">
  <h3 class="mt-4">
    <a [routerLink]="['./create']" class="ml-2 btn btn-primary btn-sm">
      {{ "New Edition" | i18nextFormat }}
    </a>
  </h3>

  <div *ngIf="editions && !editions.length" class="text-center mt-5">
    {{ "No Editions Found" | i18nextFormat }}
  </div>

  <div class="edition-list clearfix">
    <div *ngFor="let edition of editions" class="float-left m-2">
      <div class="c-editions">
        <div class="image">
          <div *ngIf="edition.image.length > 0">
            <cl-image loading="lazy" public-id="{{ edition.image[0] }}">
              <cl-placeholder type="blur"></cl-placeholder>
              <cl-transformation width="auto" crop="scale"></cl-transformation>
            </cl-image>
          </div>
        </div>
        <div class="description">
          <h4 class="item_name">{{ edition.title }}</h4>

          <div class="edition__costs">
            <span class="c-price">{{ edition.price }} €</span>
          </div>
        </div>
      </div>
      <div class="text-center">
        <a
          [routerLink]="'/dashboard/editions/' + edition.id"
          class="text-success"
        >
          <i class="fa fa-edit"></i>
        </a>
        <a class="text-danger cp ml-3" (click)="deleteEdition(edition.id)">
          <i class="fa fa-trash"></i>
        </a>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!validUrl" class="error-page">
  <img src="./assets/img/error404.png" />
  <h1 class="invalid-page">404</h1>
  <h2 class="invalid-page2">Url does not Exist!</h2>
</div>
